<section >
    <mat-card fxFlex.xs="80%" fxFlex= "50%">
    <mat-card-title fxLayoutAlign="center center">Login Here</mat-card-title>
    <form  #form="ngForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" (ngSubmit)="onSubmit(form)">
      <mat-form-field >
        <input matInput  ngModel name="email" placeholder="Email Here" email required #email="ngModel">
        <mat-error *ngIf="email.hasError('required')">Email field must not be empty</mat-error>
        <mat-error *ngIf="!email.hasError('required')">Email field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Password must not be less than 8 characters">
        <input matInput ngModel name="password" placeholder="Password Here" minlength="8" required #password="ngModel">
        <mat-hint align="end">{{password.value?.length}}/8</mat-hint>
        <mat-error *ngIf="password.hasError('required')">Password field must not be empty</mat-error>
        <mat-error *ngIf="!password.hasError('required')">Password must be atleast 8 characters long</mat-error>
      </mat-form-field>
      <button *ngIf= "!isLoading" class="button" mat-raised-button type="submit" color="primary" [disabled]="form.invalid" >

     Login
    </button>
    <mat-spinner *ngIf= "isLoading"></mat-spinner>
    </form>
    </mat-card>
  </section>
  