<section class="new-program" fxLayout fxLayoutAlign="center">
 
    <mat-card fxFlex.xs="80%" fxFlex= "50%">
        <mat-card-title fxLayoutAlign="center">
          Workout Time
        </mat-card-title>
        <form  fxLayout="column" fxLayoutAlign="center center" (ngSubmit)= "onStart(form)" #form="ngForm" >
        <mat-card-content fxLayoutAlign="center">
          <mat-form-field *ngIf="!isLoading && programs">
            <mat-select placeholder="Choose a program" ngModel name='program' required>
              <mat-option *ngFor= 'let program of programs' [value]=program.id>
               {{program.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-spinner *ngIf= "isLoading"></mat-spinner>
       </mat-card-content>
       <mat-card-actions fxLayoutAlign="center" *ngIf="isLoading">
         <button *ngIf= "programs" color="primary" type="submit" mat-raised-button [disabled]="form.invalid">
          Start
         </button>
         <button *ngIf= "!programs" color="primary"  mat-raised-button (click)="fetchPrograms()">
            Fetch Again
          </button>
       </mat-card-actions>
      </form>
    </mat-card>

      
</section>
