<div class="welcome-title" fxLayout="column" fxLayout="column" fxLayoutAlign="center center">
    Welcome to IFitness
</div>
<div class="welcome" fxLayout="column" fxLayoutAlign="center center"  fxLayout.gt-sm="row" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>Great programs</mat-card-title> 
    <mat-card-subtitle>
      Programs to help you stay fit while having fun
    </mat-card-subtitle>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore 
         magna aliqua. Ut enim ad minim veniam, quis nostrud 
         exercitation ullamco laboris nisi ut aliquip ex ea.
    </mat-card-content>
  </mat-card >
  <mat-card>
    <mat-card-title>Diverse Community</mat-card-title> 
    <mat-card-subtitle>
      Meet amazing people from all over the world
    </mat-card-subtitle>
    <mat-card-content>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore 
         magna aliqua. Ut enim ad minim veniam, quis nostrud 
         exercitation ullamco laboris nisi ut aliquip ex ea.
    </mat-card-content>
  </mat-card >
  <mat-card >
      <mat-card-title>Fun Challenges</mat-card-title> 
      <mat-card-subtitle>
      Participate in fun challenges regularly
      </mat-card-subtitle>
      <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore 
           magna aliqua. Ut enim ad minim veniam, quis nostrud 
           exercitation ullamco laboris nisi ut aliquip ex ea.
      </mat-card-content>
  </mat-card>
</div>
